/* BEGIN CODE HERE */
.header{
    display: flex;
    height: 150px;
    border-bottom: 1px solid lightgray;
}
.header .logo{
    display: flex;
    align-items: center;
}
.header .navMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
/* END CODE HERE */